plugins:
  - serverless-dotenv-plugin
org: nettan

service: notes

provider:
  name: aws
  runtime: nodejs20.x
  region: eu-north-1

  environment:
    TABLE_NAME: notey-db

  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:PutItem
        - dynamodb:GetItem
        - dynamodb:UpdateItem
        - dynamodb:DeleteItem
        - dynamodb:Query
        - dynamodb:Scan
      Resource:
        - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:provider.environment.TABLE_NAME}
        - arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/account

functions:
  signin:
    handler: functions/signin/index.handler
    events:
      - httpApi:
          path: '/auth/signin'
          method: post

  signup:
    handler: functions/signup/index.handler
    events:
      - httpApi:
          path: '/auth/signup'
          method: post
  
  createNote:
    handler: functions/createNote/index.handler
    events:
      - httpApi:
          path: '/notes'
          method: post

  getNote:
    handler: functions/getNote/index.handler
    events:
      - httpApi:
          path: '/notes'
          method: get
  getNoteByDate:
    handler: functions/getNoteByDate/index.handler
    events:
      - httpApi:
          path: '/notes/by-date'
          method: get        

  editNote:
    handler: functions/editNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}'
          method: patch

  deleteNote:
    handler: functions/deleteNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}'
          method: delete

  restoreNote:
    handler: functions/restoreNote/index.handler
    events:
      - httpApi:
          path: '/notes/{id}/restore'
          method: put

  getDeletedNotes:
    handler: functions/getDeletedNotes/index.handler
    events:
      - httpApi:
          path: '/notes/deleted'
          method: get

resources:
  Resources:
    notesDb:
       Type: AWS::DynamoDB::Table
       Properties:
         TableName: notey-db
         AttributeDefinitions:
           - AttributeName: userId
             AttributeType: S
           - AttributeName: createdAt
             AttributeType: S
         KeySchema:
           - AttributeName: userId
             KeyType: HASH
           - AttributeName: createdAt
             KeyType: RANGE
         BillingMode: PAY_PER_REQUEST
    usersDb:
       Type: AWS::DynamoDB::Table
       Properties:
         TableName: account
         AttributeDefinitions:
           - AttributeName: username
             AttributeType: S
         KeySchema:
           - AttributeName: username
             KeyType: HASH
         BillingMode: PAY_PER_REQUEST
